.main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.item{
    flex: 1 0 100%;
    text-align: center;
}
.nav{
    height: 10vh;
    background-color: beige;
}
.content{
    height: 80vh;
}
.footer{
    height: 10vh;
    background-color: beige;
}