
.orders{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.orderTab{
    flex: 0 0 33%;
    border: 1px solid black;
}

.btn-info{
    margin: 6px;
    background-color: rgb(72, 215, 132);
}

.btn-delete{
    margin: 6px;
    background-color:darkgoldenrod;
}